.header-container {
  height: calc(100vh - 81px);
  background-image: url('../../assets/header-image.avif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container .section-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.header-container h1 {
  color: var(--white);   
  font-size: 40px;
  text-align: center;
}

.header-container p {
  color: var(--white);   
  font-size: 24px;
  max-width: 600px;
  text-align: center;
}

.header-white-section {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 24px;
}